@import url("https://fonts.googleapis.com/css2?family=Exo+2&family=Righteous&display=swap");
body {
	font-family: "Exo 2", sans-serif;
	margin: 0px;
	padding: 0px;
	background-image: url("assets/img0.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: indigo;
	color: white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Righteous", cursive;
}
header {
	background-color: rgba(176, 196, 222, 0.5);
}
header h1 {
	font-size: 48pt;
	color: blue;
	text-align: center;
	padding: 10px;
	margin: 0px;
}
#enter1 {
	display: block;
	margin: 55% 0;
	line-height: 55%;
	content: " ";
}
#order {
	display: block;
	margin: 0 auto;
	height: 250px;
	width: 500px;
	background-color: white;
	border: 4px solid mediumblue;
	color: black;
	text-align: center;
}
#order input {
	text-align: center;
	margin: 10px;
	padding: 5px;
}
#order input[type="submit"] {
	background-color: mediumblue;
	color: white;
	font-size: larger;
	margin-top: auto;
	border: 2px solid white;
	border-radius: 5px;
}
#ticket {
	display: block;
	height: 50px;
	margin: 0px auto;
	margin-bottom: 5px;
}
#details {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 200px;
	width: 450px;
	padding: 25px;
	background-color: midnightblue;
	border: 4px dashed yellow;
	color: white;
	text-align: center;
}
#details ul {
	display: inline-block;
	text-align: center;
	list-style-type: circle;
}
.quantity {
	font-weight: bold;
}
#details h3 {
	font-weight: 600;
}
#cost {
	color: yellow;
}
#enter2 {
	display: block;
	margin: 7.5% 0;
	line-height: 7.5%;
	content: " ";
}
footer {
	left: 0px;
	right: 0px;
	position: fixed;
	bottom: 0px;
	padding: 0.1em;
	background-color: rgba(169, 169, 169, 0.75);
}
footer h3 {
	margin: 0px;
	margin-top: 5px;
	font-size: 24pt;
	color: crimson;
	text-align: center;
}
footer div {
	color: maroon;
	text-align: right;
}
